<div class="container" id="basicbits_help" style="display: none;">
    <div>
        <span class="h2">basicbits/</span>
        <span class="h3"> A Go Web App</span>
        <p class="h4">Help Guide</p>
        <div id="help_guide_gi" class="help_guide">
            <p class="h5">General Information</p>
            <p>
                basicbits is a basic Python web app, with a few spicy goodies thrown in. It's an experiment
                by on what is possible with disruptive technology and agile practices. 
            </p>
            <p>
                Here's a return from the basicsbits.py I've pulled in from a template
            </p>
            {{basicbitsanswer}}
            <p>
                Explore more content in the options below.
            </p>
        </div>
        <div id="help_guide_sw" class="help_guide">
            <p class="h5">How to speak basicbits</p>
            <p>
                This guide is on page, but it doesn't have to be
            </p>
            <ul>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr style="color:#ddd;background:#ddd;"/>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr style="color:#ddd;background:#ddd;"/>
                <li>List item hooray</li>
                <li>List item hooray</li>
            </ul>
        </div>
        <div id="help_guide_lm" class="help_guide">
            <p class="h5">Limitations / Bugs</p>
            <p>
                More guide content here. Modify to your will
            </p>
            <p>
                We hope basicbits is actually helpful.
            </p>
        </div>
        <div id="help_guide_ex" class="help_guide">
            <p class="h5">Examples</p>
            <p>
                More guide content. Just add what you need and connect the buttons wih js and the ids
            </p>
            <ul>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr style="color:#ddd;background:#ddd;"/>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr style="color:#ddd;background:#ddd;"/>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <li>List item hooray</li>
                <hr style="color:#ddd;background:#ddd;"/>
            </ul>
        </div>
    </div>
    <ul class="sidebar-menu">
        <li><a id="b_help_guide_gi" href="#top"><span class="mif-home icon"></span>General Information</a></li>
        <li><a id="b_help_guide_sw" href="#top"><span class="mif-books icon"></span>How to speak basicbits</a></li>
        <li><a id="b_help_guide_ex" href="#top"><span class="mif-files-empty icon"></span>Examples</a></li>
        <li><a id="b_help_guide_lm" href="#top"><span class="mif-files-empty icon"></span>Limitations/Bugs</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/DIS-SIN/basicbits"><span class="mif-github icon"></span>Github Source Code</a></li>
        <li class="divider"></li>
        <li><a id="basicbits_help_dismiss"><span class="mif-help icon"></span>Close Help Guide</a></li>
    </ul>
</div>
